* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.consumption_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: #587513;
  border-bottom: 1px solid #ccc;
}
