.container {
  display: flex;
  flex-direction: column;
  background: #180048;
  height: 100vh;
}

.consump-container {
  display: flex;
  flex-direction: row;
}

.consump-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
  width: 20vw;
}

.consump-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: white;
}

.consump-table-body {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
}

.consump-chart {
  padding-top: 10px;
  width: 70vw;
}

.consump-chart-header {
  color: #fdfdfd;
  text-align: center;
  padding-top: 10px;
}

.consump-chart-footer {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 5px;
  justify-content: space-between;
  color: #ccc;
  margin-left: 25px;
}
