* {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background: #180048;
  height: 100vh;
}

.tarrif_container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.tarrif-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 20%;
}

.tarrif_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.tarrif_header h3 {
  color: #fdfdfd;
  padding-right: 1rem;
}

.tarrif_body {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
}

.tarrif-chart {
  padding-top: 1.5rem;
  width: 90vw;
}

.tarrif-chart-body {
  padding-bottom: 3rem;
}

.tarrif-chart-header h3 {
  color: #fdfdfd;
  text-align: center;
}

.tarrif-chart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 1rem;
  border-top: 1px solid #ccc;
  color: #ccc;
}

img {
  width: 100vh;
  height: 100vh;
}

@media (max-width: 1025px) {
  .tarrif_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    border-bottom: 1px solid #ccc;
  }

  .tarrif_header h3 {
    padding-right: 0rem;
  }

  #tarif_responsive {
    text-align: end;
  }

}

@media (max-width: 768px) {
  .container {
    height: 100vh;
  }

  .tarrif_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    height: 94vh;
    align-items: center;
  }

  .tarrif_container .tarrif-table {
    order: 1;
  }

  .tarrif-table {
    width: 80%;
    height: 40%;
  }

  .tarrif-chart {
    width: 90%;
    height: 50%
  }

  .tarrif-chart-body {
    padding: 0rem;
    width: 100%;

  }

  .tarrif-chart-footer {
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

}

@media (max-width: 600px) {

  .container {
    height: 100vh;
  }

  .tarrif_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    height: 85vh;
    align-items: center;
    padding:0.1rem;
  }

  .tarrif_container .tarrif-table {
    order: 1;
  }

  .tarrif-table {
    width: 80%;
    height: 40%;
    padding:1rem 0rem 0rem 0rem;
  }

  .tarrif-chart {
    width: 90%;
    height: 50%;
    padding: 0rem;
    margin-bottom: 2rem;
  }

  .tarrif-chart-body {
    padding: 0rem;
    width: 105%;
    height: 90%;
  }

  .tarrif-chart-footer {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    gap: 0.1rem;
    align-items: center;
  }

  .tarrif-chart-footer  h3{
    font-size: 1rem;
  }
}
